/* 强制提升优先级，确保覆盖主题默认设置 */
:root {
    --font-size: 18px !important; 
    --font-size-smaller: 0.95rem !important; 
    --font-size-smallest: 0.85rem !important;
}

body {
    font-size: var(--font-size);
}
